.card-list {
  list-style-type: none;
  margin: 0;
}
.card-list > *:not(:last-child) {
  margin-bottom: 0.5em;
}
.card-list .card-list-item {
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 0.75em 1.5em;
  cursor: pointer;
  text-align: left;
  color: var(--text-color);
  background-color: transparent;
  transition: background-color 0.5s;
  position: relative;
}
.card-list .card-list-item .title {
  margin-bottom: 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-list .card-list-item .sub-title {
  font-weight: normal;
  font-size: 0.85rem;
  margin-bottom: 0;
}
.card-list .card-list-item .icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}
.card-list .card-list-item::before {
  content: "";
  position: absolute;
  left: 0.5em;
  width: 4px;
  background-color: #6f62eb;
  transform: translateY(-50%);
  top: 50%;
  height: 0;
  border-radius: 9999px;
  transition: height 0.25s;
}
.card-list .card-list-item:hover {
  background-color: #1b1a2d;
}
.card-list .card-list-item.active {
  background-color: #1b1a2d;
}
.card-list .card-list-item.active::before {
  height: 50%;
}