@page "/Links/{LinkId?}"
@using OrchidLink.Models

<PageTitle>Links</PageTitle>

<CascadingValue Value=@LinkId>
	<div class="cell small-3 aside-block"><CampaignList @bind-CurrentCampaign=CurrentCampaign /></div>
	<LinkViewer CurrentCampaign=@CurrentCampaign />
</CascadingValue>

@code {
	public Campaign? CurrentCampaign = null;

	[Parameter]
    public string? LinkId { get; set; }
}
