@inherits LayoutComponentBase

<PageTitle>OrchidLink</PageTitle>

<div class="grid-container">
    <div class="grid-x align-center">
        <main class="cell medium-8">
            <LoginDisplay />
            @Body
        </main>
    </div>
</div>
