@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IJSRuntime js

<PageTitle>OrchidLink</PageTitle>

<div class="grid-y medium-grid-frame">
    <div class="cell"><NavMenu /></div>
    <div class="cell auto grid-x">
        @Body
    </div>
</div>

@code {
    [CascadingParameter] protected Task<AuthenticationState>? _AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        var user = (await _AuthenticationState).User;

        if (user.Identity != null && !user.Identity.IsAuthenticated)
        {
            var uri = Uri.EscapeDataString(new Uri(_navigationManager.Uri).LocalPath);
            _navigationManager.NavigateTo($"Identity/Account/Login?returnUrl={uri}");
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("initFoundation");
    }
}
