
<nav class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">OrchidLink</li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Users</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <LoginDisplay />
    </div>
</nav>
