@use "sass:map";
@import '../settings';

$active-item: #1b1a2d;

.card-list {
    list-style-type: none;
    margin: 0;

    & > *:not(:last-child) {
        margin-bottom: 0.5em;
    }

    .card-list-item {
        border-radius: $global-radius;
        display: block;
        width: 100%;
        padding: 0.75em 1.50em;
        cursor: pointer;
        text-align: left;
        color: var(--text-color);
        background-color: transparent;
        transition: background-color 0.5s;
        position: relative;

        .title {
            margin-bottom: 0;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .sub-title {
            font-weight: normal;
            font-size: 0.85rem;
            margin-bottom: 0;
        }

        .icon {
            height: 1.5em;
            width: 1.5em;
            margin-right: 0.5em;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0.50em;
            width: 4px;
            background-color: map.get($foundation-palette, 'primary');
            transform: translateY(-50%);
            top: 50%;
            height: 0;
            border-radius: 9999px;
            transition: height 0.25s;
        }

        &:hover {
            background-color: $active-item;
        }

        &.active {
            background-color: $active-item;

            &::before {
                height: 50%;
            }
        }
    }
}
