@import 'settings';
@import 'foundation';
@import 'blazor';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

@include foundation-xy-grid-classes;

@include foundation-button;
@include foundation-label;
@include foundation-media-object;
@include foundation-card;
@include foundation-dropdown;
@include foundation-menu;
@include foundation-top-bar;
@include foundation-media-object;
@include foundation-reveal;

@import 'global';
@import 'components/card-list';

.card {
    background-color: var(--card-bg);
    border: none;
    color: var(--text-color);

    &.full {
        height: 100%;
    }
}

