@use "sass:map";

@import 'settings';
@import 'foundation';
@import 'blazor';

@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

@include foundation-xy-grid-classes;

@include foundation-button;
@include foundation-label;
@include foundation-media-object;
@include foundation-card;
@include foundation-dropdown;
@include foundation-menu;
@include foundation-top-bar;
@include foundation-media-object;
@include foundation-reveal;

@import 'global';
@import 'utility';
@import 'components/card-list';
@import 'components/aside-block';

.card {
    background-color: var(--card-bg);
    border: none;
    color: var(--text-color);

    &.full {
        height: 100%;
    }

    .card-header {
        margin-bottom: 0.5em;
    }
}

.top-bar {
    border-bottom: 1px solid #3e3e4b;
}

[type=text], [type=password], [type=date], [type=datetime],
[type=datetime-local], [type=month], [type=week],
[type=email], [type=number], [type=search],
[type=tel], [type=time], [type=url], [type=color], textarea {
    background-color: var(--card-bg);
    border: 1px solid transparent;
    transition: all 0.5s;
    color: white;

    &:focus {
        background-color: var(--card-bg);
        border: 1px solid map.get($foundation-palette, 'primary');
        box-shadow: 0 0 5px map.get($foundation-palette, 'primary');
    }
}
